#!/usr/bin/make -f
export DH_VIRTUALENV_INSTALL_ROOT=/opt/venvs

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	# Replace version string in settings.py with the actual packaged version
	sed -i "s/^STATIC_VERSION = .*/STATIC_VERSION = \"Packaged version: $(shell dpkg-parsechangelog -S Version)\"/" qlever/settings.py
	# Build the WASM formatter
	npm ci
	npm run build
	# Create the virtual environment that will be included in the package
	dh_virtualenv \
	    --package qlever-ui \
		--python /usr/bin/python3 \
		--builtin-venv \
		--preinstall "setuptools>=68.0" \
		--preinstall "wheel>=0.41" \
		--upgrade-pip \
		--extra-pip-arg "--no-compile"
	# Collect static files into the package staging area
	# ToDo: include templates in venv, but put static somewhere else? -> also strip down package-data to only templates
	mkdir -p debian/qlever-ui/usr/share/qlever-ui/static
	DJANGO_SETTINGS_MODULE=qlever.settings \
	QLEVERUI_SECRET_KEY=build-time-placeholder \
	QLEVERUI_DATABASE_URL=sqlite:////tmp/qlever-ui-build.db \
	QLEVERUI_STATIC_ROOT=$(CURDIR)/debian/qlever-ui/usr/share/qlever-ui/static \
		debian/qlever-ui/opt/venvs/qlever-ui/bin/python -m django collectstatic --noinput

override_dh_installsystemd:
	dh_installsystemd --name=qlever-ui --package=qlever-ui-deploy

override_dh_clean:
	dh_clean
	rm -rf node_modules

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_strip:
	dh_strip --exclude=python
